<md-content class="transparent margin-left-15" >
	<div layout="column" >
		<div layout="row" layout-align="center">
			<p class="bold super-title">
				Classes
			</p>
		</div>
		<div class="margin-top-30 margin-left-15" layout="column">
			<div layout="row" layout-align="center" class="bold sub-title">
				Guerreiro
			</div>
			<div class="margin-left-15">
				Espadas, Machados
			</div>
			<div class="bold margin-top-15">
				Hab: 
			</div>
			<div class="margin-left-15 margin-top-15">
				Furia cega (Recebida Lv3): 1AP => Ataca com mais 30% da força mas reduz a RES por 50% até o próximo turno
			</div>

			<div class="margin-left-15 margin-top-15">
				Ataque Extra (Recebida Lv8): (Passiva) O guerreiro pode fazer uma segunda ação de combate
			</div>
			<div class="margin-left-15 margin-top-15">
				Furia cega 2 (Recebida Lv10): 2AP => Ataca com mais 50% da força mas reduz a RES por 30% até o próximo turno
			</div>
			
			
		</div>
		<div class="margin-top-30 margin-left-15">
			<div layout="row" layout-align="center" class="bold sub-title">
				Arqueiro
			</div>
			<div class="margin-left-15">
				Arcos, Adagas
			</div>
			<div class="bold margin-top-15">
				Hab: 
			</div>
			<div class="margin-left-15 margin-top-15">
				Tiro preciso (Recebida Lv3): Gasta 1 AP => Ataca com 1D4 x 15%
			</div>
			<div class="margin-left-15 margin-top-15">
				Mira aguçada (Recebida Lv8): (Passiva) 20% a mais de bônus de habilidade
			</div>
		</div>
		<div class="margin-top-30 margin-left-15">
			<div layout="row" layout-align="center" class="bold sub-title">
				Capitão
			</div>
			<div class="margin-left-15">
				Espadas
			</div>
			<div class="bold margin-top-15">
				Hab: 
			</div> 
			<div class="margin-left-15 margin-top-15">
				Encorajar (Recebida Lv3): Gasta 1 AP => Aumenta em 20% o ataque e defesa de todos os membros do grupo (Dura 2 turnos). Não pode ser usada enquanto já ativada
			</div>
			<div class="margin-left-15 margin-top-15">
				Grito Fortalecedor (Recebida Lv5): Gasta 2 AP => Recupera 20% de HP de todos os membros do grupo
			</div>
			<div class="margin-left-15 margin-top-15">
				Ímpeto de líder (Recebida Lv8): (Passiva) 5% a mais em bônus de todas as habilidades
			</div>

			<div class="margin-left-15 margin-top-15">
				Acerto heróico (Recebida Lv12): (Passiva) Adiciona 30% de carisma ao calculo de acerto
			</div>
			
		</div>
		<div class="margin-top-30 margin-left-15">
			<div layout="row" layout-align="center" class="bold sub-title">
				Guardião
			</div>
			<div class="margin-left-15">
				Escudos
				Espadas 1H (Homens e Hobbits)
				Lanças 1H (Elfos)
				Machados 1H (Anões)
			</div>
			<div class="bold margin-top-15">
				Hab: 
			</div>
			<div class="margin-left-15 margin-top-15">
				Chamado de Guerra (Recebida Lv3): Gasta 1 AP => Obriga os inimigos a atacarem a si próprio e aumenta em 50% a defesa (Dura 2 turnos). Não pode ser usada enquanto já ativada.
			</div>
			<div class="margin-left-15 margin-top-15">
				Defensor cruel (Recebida Lv8): (Passiva) 20% a mais em bônus de resistência
			</div>
		</div>
		<div class="margin-top-30 margin-left-15">
			<div layout="row" layout-align="center" class="bold sub-title">
				Ladino 
			</div>
			<div class="margin-left-15">
				Espadas curtas, Adagas
			</div>
			<div class="bold margin-top-15">
				Hab: 
			</div>
			<div class="margin-left-15 margin-top-15">
				Ladrão nas sombras (Recebida Lv3): Gasta 1 AP => Pode atacar 2 vezes no mesmo turno.
			</div>
			<div class="margin-left-15 margin-top-15">
				Esquiva melhorada (Recebida Lv8): (Passiva) 20% a mais de bônus de velocidade
			</div>
		</div>
		<div class="margin-top-30 margin-left-15">
			<div layout="row" layout-align="center" class="bold sub-title">
				Outras Habilidades
			</div>
			<div class="margin-left-15">
				- Oportunista (Ao calcular acerto se (D20) = 20, é feito um novo ataque)
			</div>
			<div class="margin-left-15">
				- Contrataque (Ao receber um ataque que acerta tente (D20) > 18, pode contratacar)
			</div>
		</div>

	</div>
</md-content>